.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
*.venv
.env
*.env

.git
pip-selfcheck.json





### Database template
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3
*.db-shm
*.db-wal

### Redis template
# Ignore redis binary dump (dump.rdb) files

*.rdb

.idea
*.idea

__pychache__/
__pychache__
*.pyc
*.local*
*.log